#{extends 'main.html' /}
#{set title:'Rentability' /}

#{set 'moreStyles'}
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index_ap.css'}">
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery.equalheights.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.text-overflow.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/index_ap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    

#{/set}

<!-- Start: PRODUCT LIST -->
<div class="container">
    
    
        <div class="row-fluid">
            
            %{def count = 0;}%
            <ul class="thumbnails">
            #{list items:offers, as:'offer'}
                
                #{if (count%3 == 0)}
	                  #{if (count != 0)}</ul><ul class="thumbnails">#{/if}
	                  
		              <li class="span3">
		                <div class="thumbnail">
		                  <img data-src="holder.js/300x200" src="@{Inventory.articleImage(offer.article.id)}" alt="product name">
		                  <div class="caption">
		                    <h4>${offer.article.name}</h4>
		                    <p>
		                      ${offer.price} EUR<br/>
		                      ${offer.description}
		                    </p>
		                  </div>
		                  <div class="widget-footer">
		                    <p >
		                      <a href="@{Application.offerDetails(offer.id)}" class="btn btn-warning ">Read more</a>
		                    </p>
		                  </div>
		                </div>
		              </li>
	              
	            #{/if}
	            #{else}
	              <li class="span3">
	                <div class="thumbnail">
	                  <img data-src="holder.js/300x200" src="@{Inventory.articleImage(offer.article.id)}" alt="product name">
	                  <div class="caption">
	                    <h4>${offer.article.name}</h4>
	                    <p>
	                      ${offer.price} EUR<br/>
	                      ${offer.description}
	                    </p>
	                  </div>
	                  <div class="widget-footer">
	                    <p>
	                      <a href="@{Application.offerDetails(offer.id)}" class="btn btn-warning ">Read more</a>
	                    </p>
	                  </div>
	                </div>
	              </li>
	            #{/else}
	            %{count = count + 1;}%
            #{/list}
            
        </div>
        
   
   
</div>
<!-- End: PRODUCT LIST -->



