#{extends 'main.html' /}
#{set title:offer.article.name /}

#{set 'moreStyles'}
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-datetimepicker.min.css'}">
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/bootstrap-datetimepicker.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<script src="@{'/public/javascripts/calculateAdjustedPrice.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<script type="text/javascript">
function checkValidDate() {

	var validDate = "false";

	var startDate = new Date(document.getElementById("startTime").value);
	var endDate = new Date(document.getElementById("endTime").value);
	
	// Check if dates overlap with other requests:
	var startDateRequestString;
	var startDateRequestYear;
	var startDateRequestMonth;
	var startDateRequestDay;
	var endDateRequestString;
	var endDateRequestYear;
	var endDateRequestMonth;
	var endDateRequestDay;
	var startDateRequest;
	var endDateRequest;
	var requestDateConflict = "false";
	#{list items:requests, as:'request'}
	startDateRequestString = "${request.startTime}";
	startDateRequestYear = startDateRequestString.charAt(0) + startDateRequestString.charAt(1) + startDateRequestString.charAt(2) + startDateRequestString.charAt(3);
	startDateRequestMonth = startDateRequestString.charAt(5) + startDateRequestString.charAt(6);
	startDateRequestDay = startDateRequestString.charAt(8) + startDateRequestString.charAt(9);
	endDateRequestString = "${request.endTime}";
	endDateRequestYear = endDateRequestString.charAt(0) + endDateRequestString.charAt(1) + endDateRequestString.charAt(2) + endDateRequestString.charAt(3);
	endDateRequestMonth = endDateRequestString.charAt(5) + endDateRequestString.charAt(6);
	endDateRequestDay = endDateRequestString.charAt(8) + endDateRequestString.charAt(9);
	startDateRequest = new Date(startDateRequestMonth + "/" + startDateRequestDay + "/" + startDateRequestYear);
	endDateRequest = new Date(endDateRequestMonth + "/" + endDateRequestDay + "/" + endDateRequestYear);
	if (!((startDate.getTime() < startDateRequest.getTime() || startDate.getTime() > endDateRequest.getTime()) && (endDate.getTime() < startDateRequest.getTime() || endDate.getTime() > endDateRequest.getTime()))){
		requestDateConflict = "true";
	}
	#{/list}
	
	// Check if dates are in the offered timeperiod
	var startDateOfferString = "${offer.startTime}";
	var startDateOfferYear = startDateOfferString.charAt(0) + startDateOfferString.charAt(1) + startDateOfferString.charAt(2) + startDateOfferString.charAt(3);
	var startDateOfferMonth = startDateOfferString.charAt(5) + startDateOfferString.charAt(6);
	var startDateOfferDay = startDateOfferString.charAt(8) + startDateOfferString.charAt(9);
	var endDateOfferString = "${offer.endTime}";
	var endDateOfferYear = endDateOfferString.charAt(0) + endDateOfferString.charAt(1) + endDateOfferString.charAt(2) + endDateOfferString.charAt(3);
	var endDateOfferMonth = endDateOfferString.charAt(5) + endDateOfferString.charAt(6);
	var endDateOfferDay = endDateOfferString.charAt(8) + endDateOfferString.charAt(9);
	var startDateOffer = new Date(startDateOfferMonth + "/" + startDateOfferDay + "/" + startDateOfferYear);
	var endDateOffer = new Date(endDateOfferMonth + "/" + endDateOfferDay + "/" + endDateOfferYear);
	
	if (requestDateConflict == "false" && startDateOffer.getTime() <= startDate.getTime() && startDate.getTime() <= endDateOffer.getTime() && startDateOffer.getTime() <= endDate.getTime() && endDateOffer.getTime() >= endDate.getTime() && startDate.getTime() <= endDate.getTime()){
		validDate = "true";
	}
	
	if (validDate == "true"){
		calculateAdjustedPrice(${offer.price});
		document.getElementById("sendrequestbutton").style.display = "inline";
		document.getElementById("invalidDateMessage").style.display = "none";
	}
	else {
		document.getElementById("sendrequestbutton").style.display = "none";
		document.getElementById("invalidDateMessage").style.display = "inline";
		document.getElementById("calculatedPrice").value = "";
	}
}
</script>


<div class="page-header">
  <h2>${offer.article.name} </h2>
</div>

  <div class="row-fluid" id="offer_details">
    <div class="span6">
      <img src = "@{Inventory.articleImage(offer.article.id)}" class="img-polaroid">
    </div>
    <div class="span6">
      <dl class="dl-horizontal">
        <dt>Article description:</dt>
        <dd>${offer.article.description}</dd>
        <dt>Offer description:</dt>
        <dd>${offer.description}</dd>
        <dt>Insurance:</dt>
        <dd>${insurance}</dd>
        <dt>Pick-up address:</dt>
        <dd>${offer.pick_up_address}</dd>
        <dt>Price per day:</dt>
        <dd> ${offer.price} EUR</dd>
        <dt>Availability</dt>
        <dd> ${offer.startTime.format('MM/dd/yyyy')} to ${offer.endTime.format('MM/dd/yyyy')} </dd>
        <dt>Already reserved:</dt>
        #{list items:requests, as:'request'}
        <dd>${request.startTime.format('MM/dd/yyyy')} to ${request.endTime.format('MM/dd/yyyy')}</dd>
        #{/list}
        <dd>${reservedDatesEmpty}</dd>
      </dl>
    </div>
  </div>
  </br>
  <div class="row-fluid">
      <p class="lead">You want to rent this item? Send a request for this offer:</p>
      <span id="invalidDateMessage"><u>Please enter two valid dates that are in the timeperiod of the offer and doen't overlap with already reserved timeperiods. Then the price will be calculated and you are able to rent the item.</u><br /><br /></span>
		#{form @Rentability.saveRequest(), class:'form-horizontal'}
		    #{field 'offerID'}
	            <input type="hidden" name="${field.name}" value="${offer.id}">
		    #{/field}
	
		    #{field 'startTime'}
		        <div class="control-group ${field.errorClass}">
			        <label class="control-label" for="inputImage">Start Time:</label>
			        <div class="controls" id="datetimepicker1">
			            <div class="input-append">
				            <input onchange="checkValidDate()" data-format="MM/dd/yyyy" type="text" name="${field.name}" id="startTime" size="16" value="${startTime}">
				            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i></span>
				        </div>
			            <span class="error">${field.error}</span>
			        </div>
			    </div>
		        <script type="text/javascript">
				  $(function() {
				    $('#datetimepicker1').datetimepicker({
				      pickTime: false
				    });
				  });
		        </script>
		    #{/field}
		    #{field 'endTime'}
		        <div class="control-group ${field.errorClass}">
			        <label class="control-label" for="inputImage">End Time:</label>
			        <div class="controls" id="datetimepicker2">
			            <div class="input-append">
				            <input onchange="checkValidDate()" data-format="MM/dd/yyyy" type="text" name="${field.name}" id="endTime" size="16" value="${endTime}">
				            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i></span>
				        </div>
			            <span class="error">${field.error}</span>
			        </div>
			    </div>
		        <script type="text/javascript">
				  $(function() {
				    $('#datetimepicker2').datetimepicker({
				      pickTime: false
				    });
				  });
		        </script>
		    #{/field}
		    
		    #{field 'adjustedPrice'}
		        <div class="control-group ${field.errorClass}">
			        <label class="control-label" for="inputImage">Calculated price:</label>
			        <div class="controls">
			            <input type="text" readonly="readonly" id="calculatedPrice" name="${field.name}" size="5" value="">
			            <span class="error">${field.error}</span>
			        </div>
			    </div>
		        
		    #{/field}
		    <div class="control-group ">
			        <label class="control-label" for="inputImage"></label>
			        <div class="controls">
			            <input class="btn" id="sendrequestbutton" style="display:none;" type="submit" value="Send request!">
			        </div>
			    </div>

		#{/form}
  </div>





<script type="text/javascript" charset="${_response_encoding}">
    $(function() {
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
	});
</script>
