#{extends 'main.html' /}
#{set title:'Registration' /}

<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/passwordStrength.css'}">

<script src="@{'/public/javascripts/coffee-script.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/passwordStrength.coffee'}" type="text/coffeescript"></script>

<h3>&{'view.register.header'}!</h3>
<p>&{'view.register.instruct'} (*)</p>

#{ifErrors}
    <p class="error">
        ${errors[0]}
    </p>
#{/ifErrors}

#{form @saveUser(), class:'form-horizontal'}
    #{field 'user.nick_name'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputName">&{'view.register.nickname'}:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${user?.nick_name}"> *
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    #{field 'user.first_name'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputName">&{'view.register.firstname'}:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${user?.first_name}"> *
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    #{field 'user.last_name'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputName">&{'view.register.lastname'}:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${user?.last_name}"> *
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    #{field 'user.email'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputName">&{'view.register.email'}:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${user?.email}"> *
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    #{field 'user.phone'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputName">&{'view.register.phone'}:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${user?.phone}">
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    #{field 'user.password'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputName">&{'view.register.password'}:</label>
	        <div class="controls">
	            <input type="password" id="passwordStrength" name="${field.name}" class="span3 passwordTarget control-group" size="16" value="${user?.password}" > *
	            <label  for ="passwordStrength" class="help-inline" name="passwordStrengthLabel" id="passwordStrengthLabel" />
	        	<span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    #{field 'verifyPassword'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputName">&{'view.register.verifypassword'}:</label>
	        <div class="controls">
	            <input type="password" name="${field.name}" class="span3 passwordTarget control-group" size="16" value="${verifyPassword}"> *
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    #{field 'policyAgreement'}
        <div class="control-group ${field.errorClass}">
	        
	        <div class="controls">
	            <strong>&{'view.register.agree'} <a href="@{privacyPolicy()}">&{'view.main.privacypolicy'}</a>?</strong> <input type="checkbox" name="${field.name}" value="true">
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
        
    #{/field}
    <div class="control-group">
	    
	    <div class="controls">
	    <label for="code">&{'view.register.verifcode'}: </label>
	    <img src="@{Application.captcha(randomID)}" />
	    <br />
	    <input type="text" name="code" id="code" size="18" value="" /> *
	    <input type="hidden" name="randomID" value="${randomID}" />
	    </div>
	</div> 
    <div class="control-group">
        <div class="controls">
        <input type="submit" value="Create Account" class="btn"> <a href="@{index()}">&{'view.register.cancel'}</a>   
        </div> 
    </div> 
#{/form}