


div.thumbnail {
	height: 381px;
	 position:relative;
}

.thumbnail.newest {
	 height: 230px;
	 position:relative;
}

.widget-footer {
	clear: both;
	position:absolute; 
	bottom:4px;
}

div.thumbnail p {
	margin-bottom: 1px;
}

.carousel-inner a {
	color: white;
}

#trend_legend{
	border-bottom: 1px solid #FFD6BB;
	color:#ff6600
}

#new_legend{
	border-bottom: 1px solid #CAE1B6;
	color:#77cc33
}
