 
#{extends 'userHome.html' /}

<h3>You can change your password in this page</h3>

#{ifErrors}
    <p class="error">
        ${errors[0]}
    </p>
#{/ifErrors}
 
 #{form @updatePassword(), class:'form-horizontal'} 
      <form id="passwordform" class="form-horizontal">
		<fieldset>

		<!-- Form Name -->
		<!--<legend>Update your personal information</legend>-->
		#{field 'currentpassword'}
		<!-- Text input-->
		<div class="control-group">
  		<label class="control-label" for="currentpassword">Current password:</label>
  		<div class="controls">
    	<input id="currentpassword" name="currentpassword" type="password" value="${currentpassword}" placeholder="Current password" class="input-xlarge" required="">
  		</div>
		</div>
		#{/field}
		
		#{field 'newpassword'}
		<!-- Text input-->
		<div class="control-group">
  		<label class="control-label" for="newpassword">New password:</label>
  		<div class="controls">
    	<input id="newpassword" name="newpassword" type="password" value="${newpassword}" placeholder="New password" class="input-xlarge" required="">
  		</div>
		</div>
		#{/field}
		
		#{field 'verifypassword'}
		<!-- Text input-->
		<div class="control-group">
  		<label class="control-label" for="verifypassword">verify password:</label>
  		<div class="controls">
    	<input id="verifypassword" name="verifypassword" type="password" value="${verifypassword}" placeholder="Verify new password" class="input-xlarge" required="">
  		</div>
		</div>
		#{/field}
		
		<!-- Button -->
		<div class="control-group">
  		<label class="control-label" for="changepasswordbutton"></label>
  		<div class="controls">
 		<button id="changepasswordbutton" name="changepasswordbutton" type="submit" class="btn btn-primary">Change password</button>
		</div>
		</div>
		</fieldset>
	   </form>
      #{/form}
