#{extends 'main.html' /}
#{set title:'Creating an Offer' /}

<h3>Offer your equipment!</h3>

#{form @saveOffer()}
	#{field 'article.name'}
        <p class="${field.errorClass}">
            <strong>Article:</strong> <input type="text" name="${field.name}" size="16" value="${article?.name}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'article.description'}
        <p class="${field.errorClass}">
            <strong>Description:</strong> <textarea name="${field.name}" cols="20" rows="10" value="${article?.description}"></textarea>
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'category.name'}
    	<strong>Category:</strong>
    	#{select 'category.name', items:categories, valueProperty:'id', labelProperty:'name' /}
    #{/field}
    #{field 'offer.pick_up_address'}
        <p class="${field.errorClass}">
            <strong>Pick Up Address:</strong> <input type="text" name="${field.name}" size="16" value="${offer?.pick_up_address}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'offer.startTime'}
        <p class="${field.errorClass}">
            <strong>Start Time:</strong> <input type="text" name="${field.name}" size="16" value="${offer?.startTime}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'offer.endTime'}
        <p class="${field.errorClass}">
            <strong>End Time:</strong> <input type="text" name="${field.name}" size="16" value="${offer?.endTime}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'offer.price'}
        <p class="${field.errorClass}">
            <strong>Price:</strong> <input type="text" name="${field.name}" size="16" value="${offer?.price}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'offer.insurance'}
        <p class="${field.errorClass}">
            <strong>Insurance required?</strong> <input type="checkbox" name="${field.name}" value="true">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    <p class="buttons">
        <input type="submit" value="Create Offer"> <a href="@{index()}">Cancel</a>    
    </p>
#{/form}