#{extends 'main.html' /}
#{set title:'Creating an Offer' /}

<h3>Offer your equipment!</h3>

#{form @saveOffer(), enctype:'multipart/form-data'}

	#{field 'article.image'}
		<p class="${field.errorClass}">
			<strong>Article Image:</strong> <input type="file" name="${field.name}">
			<span class="error">${field.error}</span>
		</p>
	#{/field}
	#{field 'articleName'}
        <p class="${field.errorClass}">
            <strong>Article:</strong> <input type="text" name="${field.name}" size="16" value="${articleName}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'description'}
        <p class="${field.errorClass}">
            <strong>Description:</strong> <textarea name="${field.name}" cols="15" rows="5"></textarea>
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    <strong>Category Name:</strong>
	#{select 'name', items:categories, valueProperty:'id', labelProperty:'name' /}
    #{field 'pickUpAddress'}
        <p class="${field.errorClass}">
            <strong>Pick Up Address:</strong> <input type="text" name="${field.name}" size="16" value="${pickUpAddress}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'startTime'}
        <p class="${field.errorClass}">
            <strong>Start Time:</strong> <input type="text" name="${field.name}" size="16" value="${startTime}"> Format: DD.MM.YYYY
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'endTime'}
        <p class="${field.errorClass}">
            <strong>End Time:</strong> <input type="text" name="${field.name}" size="16" value="${endTime}"> Format: DD.MM.YYYY
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'price'}
        <p class="${field.errorClass}">
            <strong>Price:</strong> <input type="text" name="${field.name}" size="16" value="${price}"> Format: 12.34
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'insurance'}
        <p class="${field.errorClass}">
            <strong>Insurance required?</strong> <input type="checkbox" name="${field.name}" value="true">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    <p class="buttons">
        <input type="submit" value="Create Offer"> <a href="@{index()}">Cancel</a>    
    </p>
#{/form}