#{extends 'main.html' /}
#{set title:'Creating an Offer' /}

<h3>Offer your equipment!</h3>
<p>All required fields are marked with an asterisk (*)</p>

#{form @saveOffer(), enctype:'multipart/form-data', class:'form-horizontal'}

	#{field 'image'}
	    <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputEmail">Article Image:</label>
	        <div class="controls">
	            <input type="file" name="${field.name}">
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
	#{/field}
	#{field 'articleName'}
	    <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputEmail">Article Name:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${articleName}"> *
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
        
    #{/field}
    #{field 'description'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputEmail">Description:</label>
	        <div class="controls">
	            <textarea name="${field.name}" cols="15" rows="3"></textarea> *
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    
    <div class="control-group ${field.errorClass}">
        <label class="control-label" for="inputEmail">Category Name:</label>
        <div class="controls">
            #{select 'name', items:categories, valueProperty:'id', labelProperty:'name' /}
            <span class="error">${field.error}</span>
        </div>
    </div>
    
    #{field 'pickUpAddress'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputEmail">Pick Up Address:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${pickUpAddress}"> *
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    
    #{field 'startTime'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputEmail">Start Time:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${startTime}"> * Format: DD.MM.YYYY
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    
    #{field 'endTime'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputEmail">End Time:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${endTime}"> * Format: DD.MM.YYYY
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    #{field 'price'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputEmail">Price:</label>
	        <div class="controls">
	            <input type="text" name="${field.name}" size="16" value="${price}"> * Format: 12.34
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    #{field 'insurance'}
        <div class="control-group ${field.errorClass}">
	        <label class="control-label" for="inputEmail">Insurance required?</label>
	        <div class="controls">
	            <input type="checkbox" name="${field.name}" value="true">
	            <span class="error">${field.error}</span>
	        </div>
	    </div>
    #{/field}
    
    <p class="buttons">
        <input class="btn" type="submit" value="Create Offer"> <a href="@{index()}">Cancel</a>    
    </p>
#{/form}