#{extends 'userHome.html' /}

  <!---------------------User Articles---------------------->
   <!-- <p>You have ${articles.size()} articles<p> -->
  

      	<table class="table table-hover">
      	<thead>
    	<tr>
    		<th>Image </th>
      		<th>Title</th>
      		<th>Description</th>
      		<th># of Offers</th>
    	</tr>
  		</thead>
      	#{list items:articles, as:'article' }
		<tr >
			<td>
			<img class="articleimg" data-src="holder.js/150x100" style="width: 171.5px; height: 114px;" src="@{Inventory.articleImage(article.id)}" class="img-rounded">
			</td>
    		<td>
    		${article.name}
    		</td>
    		<td>
    		${article.description}
    		</td>
    		<td>
    		${article.getOffers().size()}
    		</td>
    		<td>

  				<div class="btn-group btn-group-vertical">
    			<a class="btn btn-info" href=@{Rentability.articleOffers(article.id)}>Offers<i class="icon-tasks icon-white"></i></a>
    			<a class="btn  btn-success" href="@{Rentability.createOfferWithArticle(article.id)}">New offer<i class="icon-plus icon-white"></i></a>
    			<a class="btn btn-info" href="@{Rentability.editArticle(article.id)}">Edit<i class="icon-edit icon-white"></i></a>
    			<a class="btn  btn-danger" href="@{Rentability.removeArticle(article.id)}">Remove<i class="icon-remove icon-white"></i></a>
  				</div>

    		</td>
		 	</tr>
    #{/list}
	</table>
