<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-responsive.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/obsm-responsive.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/obsm.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script src="@{'/public/javascripts/jquery-1.9.0.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/twitter-bootstrap-hover-dropdown.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/obsm.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        <!--add html5 support for ancient browser like IE.-->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>
    <body>
        <div id="wrap">
            <!-- Begin page content -->
            <div class="container">
                <div id="header" class="row-fluid">
                    <div id="logo" class="span3"> 
                        <a href="@{Application.index()}"><img src="@{'/public/images/rentability_logo.png'}" alt="Rentability Logo"></a>
                    </div>
                    
                    <div class="span5">
                        #{form @Search.index(), id:'search', class:'form-horizontal'}
                            <input type="text" name="search_string" class="input-medium search-query span9">
                            <button type="submit" class="btn">&{'view.main.searchbutton'}</button>
                        #{/form}
                    </div>
                    
                        <!--#{if user == NULL }-->
                      <!--  <a href="#loginModal" role="button" data-toggle="modal">Log in</a> -->
                       <!--<a href=@{secure.login()} role="button" data-toggle="modal">Log in</a>-->
                       <!--  &nbsp;&#124;&nbsp;-->
                         <!--<a href="@{Application.register()}">Registration</a>-->
                       <!-- #{/if}-->

                         <div class="span4 pull-right">
                            <br>
                         	<br>	
                         	#{if user == NULL }
                         	<a class="btn btn btn-success" href="@{secure.login()}"><i class="icon-user icon-white"></i> Login</a>
                         	<a class="btn btn btn-info" href="@{Application.register()}"><i class="icon-user icon-white"></i> Register</a>
                         	#{/if}
                         	#{secure.check  'user'}   
                         	
                         	
  							<div class="btn-group">
  							<a class="btn btn btn-success" href="#"><i class="icon-user icon-white"></i> ${user.nick_name}</a>
  							<a class="btn btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  							<ul class="dropdown-menu">
    							<li><a href=/userProfile/${user.id}><i class="icon-pencil"></i> Edit Profile</a></li>
    							<li><a href=/changePassword><i class="icon-lock"></i> Change Password</a></li>
    							<li><a href=/userArticles><i class="icon-th-large"></i> Articles</a></li>
    							<li><a href=/userRequests><i class="icon-envelope"></i> Sent Requests</a></li>
    							<li class="divider"></li>
    							<li><a href=@{Rentability.userReceivedRequests()}><i class="icon-flag"></i>#{if unseenRequests}${unseenRequests} new #{/if} Received request(s)!</a></li>
    							<li class="divider"></li>
    							<li><a href=@{secure.logout()}><i class="icon-off"></i> Logout</a></li>
  							</ul>
							</div>
					
                       		#{/secure.check}
                        
                        	<div class="btn-group">
  							<a class="btn btn btn-info" href="#"><i class="icon-globe icon-white"></i> #{mytags.getLang/}</a>
  							<a class="btn btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  							<ul class="dropdown-menu">
  								<li><a class="sublan" href="@{Application.setLanguageEN()}"><i class="i"></i> English</a></li>
    							<li><a class="sublan" href="@{Application.setLanguageDE()}"><i class="i"></i> Deutsch</a></li>
  							</ul>
							</div>
						</div>
                 
                   <div id="loginModal" class="modal hide fade">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					    <h3>Login</h3>
					  </div>
					  <div class="modal-body">
					    <div class="login-form">
				          
				          <form class="form-horizontal">
							  <div class="control-group">
							    <label class="control-label" for="inputEmail">Email</label>
							    <div class="controls">
							      <input type="text" id="inputEmail" placeholder="Email">
							    </div>
							  </div>
							  <div class="control-group">
							    <label class="control-label" for="inputPassword">Password</label>
							    <div class="controls">
							      <input type="password" id="inputPassword" placeholder="Password">
							    </div>
							  </div>
							  <div class="control-group">
							    <div class="controls">
							      <label class="checkbox">
							        <input type="checkbox"> Remember me
							      </label>
							      <button type="submit" class="btn">Sign in</button>
							    </div>
							  </div>
							</form>
				        </div>
					  </div>
					  
					</div>
                </div>
                
                <div class="row-fluid" id="content">
                    <div class="span3">
                        <!--sidebar menu goes here-->
						<div class="row-fluid menu-wrapper">
							<ul class="obsm">
								<li><a href="@{Application.index()}">&{'view.main.home'}</a></li>
								#{list items:mainCates, as:'mainCate'}
								    %{
								        mainCateName = 'view.main.maincate.' + mainCate.name.joinWithDot();
								    }%
									<li><a href="@{Search.index(mainCate.name)}">&{mainCateName}</a>
									    <ul>#{mytags.getSubCate mainCate.id/}</ul>
									</li>
								#{/list}
								<li><a href="@{Application.aboutUs()}">&{'view.main.aboutus'}</a></li>
								
							</ul>
						</div>
						<!--end sidebar menu-->
						<div class="row-fluid">
						    <a href="@{Rentability.createOffer()}" class="btn btn-large btn-block btn-lend" type="button">&{'view.main.lendbutton'}</a>
						</div>
						<br>
						<div class="row-fluid" style="border:solid blue 2px;">
						    <img src="@{'/public/images/ad.png'}" alt="Ad"><br />
						</div>
						<br />
						<div class="row-fluid" style="border:solid #CCCCAA 2px;">
						    <img src="@{'/public/images/ad2.png'}" alt="Ad"><br />
						</div>
                    </div>
                    
                    <div class="span9">
			            #{if flash.error}
			            <p class="fError">
			            	<strong>${flash.error}</strong>
			            </p>
			            #{/if}
			            #{if flash.success}
			            <p class="fSuccess">
			            	<strong>${flash.success}</strong>
			            </p>
			            #{/if}
                    
                        #{doLayout /}
                    </div>
                    
                    
                </div>
            </div>
            
            <div id="push"></div>
        </div>
        <div id="footer">
            <div class="container  ">
                <ul class="breadcrumb text-center credit">
                    <li><a href="@{Application.aboutUs()}">&{'view.main.aboutus'}</a> <span class="divider">/</span></li>
                    <li><a href="@{Application.privacyPolicy()}">&{'view.main.privacypolicy'}</a>
                </ul>
            </div>
        </div>
        
    </body>
    
</html>

       
